.wrapper{

  margin-top: 40px;


  .inner_wrapper {

    margin-left: 70px;
    margin-right: 70px;


    .single_option_padding{
      padding-left: 10px;
    }

    .single_modal_option{
      display: inline-flex;
      .single_modal_inner{
        padding-left: 10px;
        padding-right: 10px;
        .single_modal_title{
          align-content: center;
          align-items: center;
          text-align: center;
        }
      }
    }

  }
}