.bim_show{
  background-color: #0e0b2b;
  .bim_show_layer2 {
    align-items: center;
    display: flex;
    .bim_show_region {
      margin: auto;
      .region {
        width: 1200px;
        height: 800px;
        background-color: grey;
      }
    }
  }
}